

.poster {
    position: relative;
    width: 100%;
    max-width: 220px;
    height: 333px;
    /* max-height: 320px; */
    margin: 25px;
  }

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

    .poster {
        position: relative;
        width: 100%;
        max-width: 90px;
        height: 130px;
        /* max-height: 320px; */
        margin: 15px;
      }
    
}


/* @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .poster {
        position: relative;
        width: 100%;
        max-width: 100px;
        height: 160px;
        margin: 15px;
      }
    

} */

  
